.project-title {
    margin-top: -20px;
    margin-bottom: 40px;
}

.project-cover {
    width: 70%;
    justify-self: center;
}

.project-subtitle {
    text-align: left;
    width: 60%;
    justify-self: center;
    margin-top: 50px;
}

.project-description {
    white-space: pre-line;
    text-align: left;
    justify-self: center;
    line-height: 2;
    width: 60%;
    border: 2px outset lightgrey;
    padding: 20px;
}

.project-link {
    display: flex;
    text-decoration: none;
    justify-self: center;
    margin-top: 30px;
}

.project-link-text {
    margin: 0 7px;
}

.back-home {
    display: flex;
    text-align: left;
    margin: 20px;
    text-decoration: none;
}

.back-home p {
    margin: 0 5px;
    font-size: 18px;
}

.back-home-icon {
    margin-top: 2px;
}

@media (max-width: 767px) {
    .project-cover .cover {
        width: 100%; 
    }
}