.card {
    height: auto;
    width: 100%;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.card .cover {
  height: auto;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  border: 2px outset lightgrey;
}



