@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Mukta:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

/* MAIN */
.main {
  width: 100%;
  background-color: #0f0f0f;
  min-height: 100vh;
}

/* HEADER */
header {
  width: 100%;
  background-color: #282828;
  color: #ffffff;
  height: 300px;
  text-align: center;
}

header .init {
  padding-top: 20px;
}

header .init h1 {
  padding-bottom: 5px;
}

header .init .links {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

header .init .links .link-item {
  margin-right: 10px;
  padding: 10px;
  background-color: #3a3939;
  border-radius: 50%;
  cursor: pointer;
}

header .init .links .link-item:hover {
  background-color: #535353;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 15px 15px 5px;
}

header section .about-me {
  width: 65%;
  background-color: #3a3939;
  border-radius: 20px;
  padding: 5px;
}

 header section .about-me h2 {
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style:double;
} 

header section .about-me p {
padding: 0 10px;
}

header section .infos {
  width: 34%;
  background-color: #3a3939;
  border-radius: 20px;
  padding: 5px; 
}

header section .infos .info-item {
  margin: 10px 0px;
}

header .infos .info-item span {
  margin-left: 7px;
}

/* BODY-CONTAINER */

.main .body-container {
  width: 100%;
  display: flex;
  padding: 25px 50px;
  color:#ffffff;
}

.main .body-container .left {
  width: 65%;
}

.main .body-container .left section {
  background-color: #282828;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.main .body-container .left section.projects h2 {
  margin-bottom: 15px;
  text-align: center;
}

.main .body-container .left section.projects article .last-project-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.main .body-container .left section.projects .article-item {
  width: 100%;
}

.main .body-container .left section.projects article h3 {
  margin: 15px 0;
}

.main .body-container .left section.projects article .btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.main .body-container .left section.projects article .btn-link .btn {
  background-color: #0d6e3e;
  color: #ffffff;
}

.main .body-container .left section.projects article.article-item {
  display: flex;
  margin: 10px 0;
}

.main .body-container .left section.projects article.article-item .left {
  width: 35%;
  margin-right: 10px;
}

.main .body-container .left section.projects article.article-item .left img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.main .body-container .left section.projects article.article-item .right {
  width: 75%;
}

.main .body-container .left section.experiences article {
  margin: 10px 0;
}

/* ASIDE */

aside {
  width: 34%;
  margin-left: 10px;
  color: #ffffff;
}

aside .section {
  width: 100%;
  background-color: #282828;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

aside .section h2 {
  margin-bottom: 10px;
}



aside .section {
  margin-top: 10px;
}

aside .section .full {
  width: 100%;
  background-color: #ffffff;
  height: 15px;
  border-radius: 7px;
}

aside .section .skill-item {
  margin: 15px 0px;
}

aside .section .full .percent {
  background-color: #0d6e3e;
  height: 100%;
}

aside .section .full .first {
  width: 95%;
  border-radius: 7px;
}

aside .section .full .second {
  width: 90%;
  border-radius: 7px;
}

aside .section .full .third {
  width: 90%;
  border-radius: 7px;
}

aside .section .full .fourth {
  width: 85%;
  border-radius: 7px;
}

aside .education-item {
  margin: 10px 0px;
}

aside .language-item {
  margin: 10px 0px;
}

aside .section .french {
  width: 100%;
  border-radius: 7px;
}

aside .section .spanish {
  width: 70%;
  border-radius: 7px;
}

footer {
  height: 50px;
  background-color: #282828;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries for responsive website */
@media (max-width: 645px) {
  .main header {
    flex-direction: column;
    padding: 15px 0px;
    height: 400px;
  }

  .main header .left {
    flex-direction: column;
    text-align: center;
  }

  .main header .contacts {
    justify-content: center;
  }
}

@media (max-width: 945px) {
  .main .body-container {
    flex-direction: column;
    padding: 50px 30px;
  }

  .main .body-container .left {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .main .body-container .left section.projects .article-item {
    flex-direction: column;
  }

  .main .body-container .left section.projects article.article-item .left {
    width: 100%;
  }

  .main .body-container .left section.projects article.article-item .right {
    width: 100%;
  }
}